<!-- First Heading -->
<div class="row mb-5 mt-5">
  <div class="col-6 mx-auto mt-5">
    <h2 class="header ms-4"><strong>Heissenberg</strong></h2>
    <p class="card-text ms-4 me-4 mb-5">Heisenberg es el alter ego de Walter White, un profesor de química que se convierte en narcotraficante tras ser diagnosticado con cáncer. Frío, calculador y ambicioso, abandona su moralidad para ganar poder y controlar su destino.</p>
  </div>
  <div class="col-lg-4 col-md-7 text-center mx-auto">
    <img src="https://www.shutterstock.com/image-vector/ankara-turkey-2810-2022-walter-600nw-2220109959.jpg"
    class="img-fluid rounded-circle img-fix" alt="Imagen 1">
  </div>
</div>
