<div>
  <div class="row">
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-text"><strong>Este es el primer texto con imagen </strong>El resto del texto va sin letra negrita</h2>
        <p class="card-text"><small class="text-body-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum illo alias ratione sapiente animi cum non suscipit et tempore magni ut temporibus numquam maiores, id repellat excepturi eos qui. Ipsam.</small></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="imagen h-50 w-50">
      <img src="https://www.shutterstock.com/image-vector/ankara-turkey-2810-2022-walter-600nw-2220109959.jpg" class="img-fluid rounded-circle " alt="Imagen 1">
    </div>
    </div>
  </div>
</div>
