<div class="mx-auto">
    <h2 class="header ms-4"><strong>Guia canina</strong></h2>
    <p class="ms-4 me-4">Elegir la raza adecuada depende de tu estilo de vida, espacio disponible y nivel de actividad. Considera si prefieres un perro activo o tranquilo, grande o pequeño. Evalúa el tiempo que puedes dedicarle y si tienes niños o mascotas. Investiga temperamento, cuidados y necesidades antes de tomar una decisión responsable.</p>
    <div class="row mx-auto">
        <div class=" card col-8 col-lg-3 mt-5 mx-auto">
            <img src="assets/img/golden.webp" alt="golden" class="img-fluid">
            <div class="card-body">
                <h5>🐶 Golden Retriever</h5>
                <p>El Golden Retriever es un perro amable, inteligente y muy sociable. Se lleva bien con niños y adultos, siendo ideal para familias. Su pelaje dorado necesita cepillado regular. Son obedientes y fáciles de entrenar. Disfrutan el ejercicio al aire libre y requieren compañía frecuente para estar felices y equilibrados.</p>
            </div>
        </div>
        <div class= "card col-8 col-lg-3 mt-5 mx-auto">
            <img src="assets/img/pastor-aleman.webp" alt="pastor-aleman" class="img-fluid">
            <div class="card-body">
                <h5>🐕 Pastor Alemán</h5>
                <p>El Pastor Alemán es fuerte, leal y protector. Muy inteligente, aprende rápido y destaca en tareas como guardia o rescate. Necesita actividad física y mental diaria. Es un perro seguro, obediente y vigilante. Requiere un dueño firme, pero afectuoso. Bien socializado, es excelente compañero tanto en familia como trabajando.</p>
            </div>
        </div>
        <div class="card col-8 col-lg-3 mt-5 mx-auto">
            <img src="assets/img/perro-pequeño.jpg" alt="perro-pequeño" class="img-fluid">
            <div class="card-body">
                <h5>🐾 Cuidados para un perro pequeño</h5>
                <p>Los perros pequeños necesitan atención constante, paseos diarios y una dieta adaptada a su tamaño. Es importante controlar su temperatura, ya que son más sensibles al frío. Visitas veterinarias, cepillado frecuente y socialización desde cachorros son esenciales. Son cariñosos y suelen ser buenos compañeros en espacios reducidos como apartamentos.</p>
            </div>
        </div>
    </div>
</div>
