<div class="row mb-5 mt-5">
    <div class="col-lg-4 col-md-7 text-center mx-auto">
        <img src="assets/img/akaza_demon_slayer.webp" alt="akaza-demon-slayer" 
        class="img-fluid rounded-circle img-fix">
    </div>
    <div class="col-6 mx-auto mt-5">
        <h2><strong>Akaza</strong></h2>
        <p>Akaza es un demonio de rango superior tres en *Demon Slayer*. Antes humano, fue transformado por Muzan Kibutsuji. Es poderoso, ágil y experto en artes marciales. A pesar de su brutalidad, muestra un código de honor al respetar a los oponentes fuertes. Su historia revela un pasado trágico y emocionalmente complejo.</p>
    </div>
</div>